<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Song</h3>
<p>
    <a th:href="@{/}">
        Back list Song
    </a>
</p>

<div id="form">
    <form th:action="@{/create}" th:object="${song} "
          method="POST" novalidate="novalidate">
        <div>
            <label>Name:</label>
            <input type="text" th:field="*{name}"/>
            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
        </div>
        <div>
            <label>Singer:</label>
            <input type="text" th:field="*{singer}"/>
            <p style="color: red" th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}">Name Error</p>
        </div>
        <div>
            <label>Kind Of Music:</label>
            <input type="text" th:field="*{kindOfMusic}"/>
            <p style="color: red" th:if="${#fields.hasErrors('kindOfMusic')}" th:errors="*{kindOfMusic}">Name Error</p>
        </div>
        <input type="submit" value="Create"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>