<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Song</h3>
<p>
  <a th:href="@{/}">
    Back list Song
  </a>
</p>
<div id="form">
  <form action="#" th:action="@{/update}" th:object="${song}"
        method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label>Name:</label>
      <input type="text" th:field="*{name}"/>
    </div>
    <div>
      <label>Singer:</label>
      <input type="text" th:field="*{singer}"/>
    </div>
    <div>
      <label>Kind Of Music:</label>
      <input type="text" th:field="*{kindOfMusic}"/>
    </div>
    <input type="submit" value="Update"/>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>