<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Blogs</h3>
<p>
  <a th:href="@{/create}">
    Add new Song
  </a>
</p>
<!--<form action="/search" method="get">-->
<!--  <input type="text" name="search" style="width:200px">-->
<!--&lt;!&ndash;  <input type="text" name="search-price1" style="width:200px">&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" name="search-price2" style="width:200px">&ndash;&gt;-->
<!--  <button type="submit" value="search">Search</button>-->
<!--</form>-->
<div class="notify">
<!--  /*@thymesVar id="success" type="com"*/-->
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>
<table id = "products">
  <thead>
  <tr>
    <th>Name</th>
    <th>Singer</th>
    <th>Kind Of Music</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="song ,rowStat : ${songs}">
    <td th:text="${song.name}"></td>
    <td th:text="${song.singer}"></td>
    <td th:text="${song.kindOfMusic}"></td>
    <td><a th:href="@{/edit/{id}(id=${song.id})}">Edit</a></td>
  </tr>
  </tbody>
</table>
<div>
  <a th:href="@{'/'(page=${songs.number - 1})}" th:if="${songs.hasPrevious()}">Previous</a>
  <span th:text="${songs.number + 1}"></span>/<span th:text="${songs.totalPages}"></span>
  <a th:href="@{'/'(page=${songs.number + 1})}" th:if="${songs.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>