<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Books</h3>
<p>
  <a th:href="@{/}">
    Back Home
  </a>
</p>
<!--<p>-->
<!--  <a th:href="@{/create}">-->
<!--    Add new Blog-->
<!--  </a>-->
<!--</p>-->
<!--<form action="/search" method="get">-->
<!--  <input type="text" name="search" style="width:200px">-->
<!--&lt;!&ndash;  <input type="text" name="search-price1" style="width:200px">&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" name="search-price2" style="width:200px">&ndash;&gt;-->
<!--  <button type="submit" value="search">Search</button>-->
<!--</form>-->
<div class="notify">
<!--  /*@thymesVar id="success" type="com"*/-->
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>
<table id = "products">
  <thead>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Borrow</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book ,rowStat : ${books}">
    <td th:text="${book.name}"></td>
    <td th:text="${book.quantity}"></td>
    <td><a th:href="@{/set_code/{id}(id=${book.id})}">Borrow</a></td>
  </tr>
  </tbody>
</table>
<div>
  <a th:href="@{'/'(page=${books.number - 1})}" th:if="${books.hasPrevious()}">Previous</a>
  <span th:text="${books.number + 1}"></span>/<span th:text="${books.totalPages}"></span>
  <a th:href="@{'/'(page=${books.number + 1})}" th:if="${books.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>