<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width , initial-scale=1,shrink-to-fit=no" >
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0" >
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product}">

                    </h5>

                </div>

            </div>

        </div>

    </div>

</div>
</body>
</html>