<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width , initial-scale=1,shrink-to-fit=no" >
    <link rel="stylesheet" th:href="@{../../static/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="product:${productList}">
                    <td th:text="${product.name}"></td>
                    <td>
                        <a th:href="@{/shop/detail/{id} (id = ${product.id})}">
                            <img th:src="${product.image}" style="width: 70px ;height: auto">
                        </a>
                    </td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <a class="btn btn-success" th:href="@{/shop/add/__${product.id}__ }" role="button">Add to Cart</a>
                    </td>
                </tr>
                </tbody>
<!--                <div class="card sticky-top border-0">-->
<!--                    <img th:src="${historyProduct.image}" class="card-img-top" alt="">-->
<!--                    <div class="card-body">-->
<!--                        <h4 class="card-title" th:text="${historyProduct.name}"> Title</h4>-->
<!--                        <h4 class="card-text" th:text="${historyProduct.price}"> Text</h4>-->
<!--                    </div>-->
<!--                </div>-->
            </table>
        </div>
    </div>
</div>

<script th:src="@{../../static/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{../../static/jquery/popper.min.js}"></script>
<script th:src="@{../../static/js/bootstrap.js}"></script>

</body>
</html>