<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Blog</h3>
<p>
  <a th:href="@{/}">
    Back list Blog
  </a>
</p>
<div id="form">
  <form action="#" th:action="@{/update}" th:object="${blog}"
        method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label>Header Context:</label>
      <input type="text" th:field="*{headerContext}"/>
    </div>
    <div>
      <label>Context:</label>
      <input type="text" th:field="*{context}"/>
    </div>
    <div>
      <label>Date Blog:</label>
      <input type="text" th:field="*{dateBlog}"/>
    </div>
    <input type="submit" value="Update"/>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>