<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/}">
        Back list Blog
    </a>
</p>

<div id="form">
    <form th:action="@{/create}" th:object="${blog} "
          method="POST" novalidate="novalidate">
        <div>
            <label>Header Context:</label>
            <input type="text" th:field="*{headerContext}"/>
        </div>
        <div>
            <label>Context:</label>
            <input type="text" th:field="*{context}"/>
        </div>
        <div>
            <label>Date Blog:</label>
            <input type="text" th:field="*{dateBlog}"/>
        </div>
        <div>
            <label>Categorys:</label>
            <input type="checkbox" th:each="category:${categorys}" th:text="${category.name}" th:value="${category.id}" th:field="*{dateBlog}"/>
        </div>
        <input type="submit" value="Create"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>