<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width , initial-scale=1,shrink-to-fit=no" >
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <td>Name</td>
                <td>Image</td>
                <td>Price</td>
                <td>Quantity</td>
            </tr>
            </thead>

            <tbody>
            <tr th:each="productMap:${cart.productMap}">
                <td th:text="${productMap.key.name}"></td>
                <td>
                    <img style="width: 70px ; height: auto" th:src="${productMap.key.image}">
                </td>
                <td th:text="${productMap.key.price}"></td>
                <td th:text="${productMap.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>